.App {
  text-align: center;
}
html, body{
  height:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.calc{
  
  position:absolute;
  top:50%;
  left:50%;
  margin: 0 auto;
  border-radius:14px;
  width:320px;
  height:390px;
  transform: translate(-50%, -50%);
  background-color:#d9b799;

}
.button{
  padding:15px;
}
.btn {
  width:70px;
  height: 50px;
  float:left;
  margin:1px;
  background-color:#f7e1cd;
  color:black;
  border:none;
}
.btn-action-AC, .btn-action-mod{
  width:141px;
}
.btn-action-AC, .btn-action-mul, .btn-action-divide, .btn-action-plus, .btn-action-mod, .btn-action-dec, .btn-action-equal{
  color:red;
}

.result{
  width:250px;
  height: 50px;
  font-size:14pt;
  color: black;
  border-radius:8px;
  text-align:right;
  background-color:#f7e1cd;
  padding:10px;
  margin-bottom:10px;
  margin-left:15px;

  margin-top:18px;
}